<div class="All_list container-fluid">
  <div>
    <form>
      <b style="font-size: 20px;margin-left: 1%;color:rgba(255,255,255,0.9);">订单列表</b>
      <select style="height:20px; margin-left: 3%; border-radius: 5px;background-color: white;color: #21333f;" title="">
        <option value="生产列表1">生产系统1</option>
        <option value="生产列表1">生产系统2</option>
        <option value="生产列表1">生产系统3</option>
        <option value="生产列表1">生产系统4</option>
      </select>
    </form>
  </div>
  <div class="list1 table-responsive" style="border-radius: 5px;height: 442px;margin-right: 1%;">
    <table class="orderlist" >
      <thead>
      <tr>
        <th>设备名称</th>
        <th>铭牌</th>
        <th>生产厂家</th>
        <th>安装时间</th>
        <th>有效使用时长</th>
        <th>设备类型</th>
        <th>使用情况</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let list of DeviceInformation" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        <td>{{list['dname']}}</td>
        <td>{{list['dmodel']}}</td>
        <td>{{list['dvender']}}</td>
        <td>{{list['dinstalldate']}}</td>
        <td>{{list['life']}}</td>
        <td>{{list['dtype']}}</td>
        <td>{{list['usestatus']}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button type="button" class="btn btn-primary"
        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Live demo
</button>
