<div class="panel-heading">
  <span>设备信息清单</span>
  <div class="dropdown pull-right">
    <button class="btn btn-xs btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      生产系统1
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li>生产系统1</li></ul>
  </div>
</div>
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>设备名称</th>
        <th>铭牌</th>
        <th>生产厂家</th>
        <th>安装时间</th>
        <th>有效使用时长</th>
        <th>设备类型</th>
        <th>使用情况</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let list of DeviceInformation;let i = index">
        <td>{{i}}</td>
        <td>{{list['dname']}}</td>
        <td>{{list['dmodel']}}</td>
        <td>{{list['dvender']}}</td>
        <td>{{list['dinstalldate']}}</td>
        <td>{{list['life']}}</td>
        <td>{{list['dtype']}}</td>
        <td>{{list['usestatus']}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
