<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td>铝卷类型</td><td>{{order?.altype}}</td><td>铝卷长度(米)</td><td>{{order?.allength}}</td>
      </tr>
      <tr>
        <td>铝卷宽度(毫米)</td><td>{{order?.alwidth}}</td><td>铝卷厚度(微米)</td><td>{{order?.althickness}}</td>
      </tr>
      <tr>
        <td>面漆型号</td><td>{{order?.ftype}}</td><td>面漆厚度(微米)</td><td>{{order?.fthickness}}</td>
      </tr>
      <tr>
        <td>面漆成像</td><td>{{order?.fccd}}</td><td>面漆方案</td><td>{{order?.fprogram}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
