<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
      <tr *ngFor="let odp of orderProp;let i = index">
        <td>{{orderName[i]}}</td><td>{{order[odp]}}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center">原材料-铝卷信息</td>
      </tr>
      <tr *ngFor="let rap of rawAProp;let i = index">
        <td>{{rawAName[i]}}</td><td>{{rawAluminum[rap]}}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center">原材料-油漆信息</td>
      </tr>
      <tr *ngFor="let rpp of rawPProp;let i = index">
        <td>{{rawPName[i]}}</td><td>{{rawPaint[rpp]}}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center">原材料-稀释剂信息</td>
      </tr>
      <tr *ngFor="let rdp of rawDProp;let i = index">
        <td>{{rawDName[i]}}</td><td>{{rawDiluent[rdp]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="text-align: center; padding-bottom: 20px">
    <div echarts [options]="options" style="height: 400px"></div>
  </div>
  <h3 style="text-align: center ">操作数据内容</h3>
  <table class="table table-bordered" *ngFor="let opHD of operationsHistoryDTOS">
  <tr>
    <td>操作内容</td><td colspan="2">{{opHD.operations}}</td>
  </tr>
  <tr>
    <td>值</td><td colspan="2">{{opHD.value}}</td>
  </tr>
  <tr>
    <td>操作日期</td><td colspan="2">{{opHD.datetime}}</td>
  </tr>
  </table>
<div style="text-align: center">
  <h5><img src="./assets/images/clzl.ico" width="20"> 贵州中铝彩铝科技有限公司</h5>
  <h5><img src="./assets/images/rbi.ico" width="20"> 贵阳红鸟智能技术服务有限公司</h5>
</div>
</div>

