.container-fluid{
  padding: 0 40px;
}
.panel-heading{
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(55,96,108,0.3);
  box-shadow:0 1px 1px 0 rgba(0,0,0,0.8);
}
.panel-body{
  color: white;
  border-radius: 0 0 5px 5px;
  background-color: rgba(55,96,108,0.3);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.2);
}
.panel-heading > span{
  font-size: 16px;
}
input, select{
  border-radius: 3px;
  border: 0;
  background-color: rgba(103,151,157,0.3);
  color: #FFFFFF;
  height: 25px;
}


