
<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#add">新增</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="add" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
          <div class="panel-heading">
            <span>营销订单录入</span>
            <button type="button" class="close pull-right " data-toggle="modal" data-target="#add">
              <span data-toggle="modal" data-target="#add">&times;</span>
            </button>
          </div>
          <div class="panel-body">
            <div class="form">
              <form [formGroup]="order" novalidate>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="contractname">合同名</label>
                      <input class="form-control" type="text" id="contractname" formControlName="contractname">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="cname">客户名称</label>
                      <input class="form-control" type="text" id="cname" formControlName="cname">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="price">单价(元/平米)</label>
                      <input class="form-control" type="number" id="price" formControlName="price" >
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="amount">总金额(元)</label>
                      <input class="form-control" type="number" id="amount" formControlName="amount" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="Area">铝板面积</label>
                      <input class="form-control" type="number" id="Area" formControlName="Area" >
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="Althickness">铝卷厚度</label>
                      <input class="form-control" type="text" id="Althickness" formControlName="Althickness">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="Alwidth">铝卷宽度</label>
                      <input class="form-control" type="text" id="Alwidth" formControlName="Alwidth" >
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="Altype">铝卷材质类型</label>
                      <input class="form-control" type="text" id="Altype" formControlName="Altype" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="fprogram">面漆方案</label>
                      <input class="form-control" type="text" id="fprogram" formControlName="fprogram">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="ftype">面漆颜色</label>
                      <select class="form-control" style="width: 100%" [(ngModel)]="ftype" [ngModelOptions]="{standalone: true}" id="ftype">
                        <option>AOOOOO-白色</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="fthickness">面漆厚度</label>
                      <input class="form-control" type="text" id="fthickness" formControlName="fthickness">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="fccd">面漆成像</label>
                      <select class="form-control" [(ngModel)]="fccd" [ngModelOptions]="{standalone: true}" id="fccd">
                        <option>XXX漆</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="pprogram">底漆方案</label>
                      <input class="form-control" type="text" id="pprogram" formControlName="pprogram" >
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="ptype">底漆颜色</label>
                      <select class="form-control" [(ngModel)]="ptype" [ngModelOptions]="{standalone: true}" id="ptype">
                        <option>AOOOOO-白色</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="pthickness">底漆厚度</label>
                      <input class="form-control" type="text" id="pthickness" formControlName="pthickness">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="pccd">底漆成像</label>
                      <input class="form-control" type="text" id="pccd" formControlName="pccd">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="bprogram">背漆方案</label>
                      <input class="form-control" type="text" id="bprogram" formControlName="bprogram"  >
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="btype">背漆颜色</label>
                      <select class="form-control" [(ngModel)]="btype" [ngModelOptions]="{standalone: true}" id="btype"><option>AOOOOO-白色</option></select>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="bchickness">背漆厚度</label>
                      <input class="form-control" type="number" id="bchickness" formControlName="bchickness">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="bccd">背漆成像</label>
                      <input class="form-control" type="text" id="bccd" formControlName="bccd">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="doublecloat">是否双面涂</label>
                      <select class="form-control" style="width: 100%" [(ngModel)]="doublecloat" [ngModelOptions]="{standalone: true}" id="doublecloat">
                        <option>1</option>
                        <option>0</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="figura">是否有花纹</label>
                      <select class="form-control" [(ngModel)]="figura" [ngModelOptions]="{standalone: true}" id="figura">
                        <option>有花纹</option>
                        <option>无花纹</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="pro_system">生产线</label>
                      <select class="form-control" [(ngModel)]="pro_system" [ngModelOptions]="{standalone: true}" id="pro_system">
                        <option>1号生产线</option>
                        <option>2号生产线</option>
                        <option>3号生产线</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="country">国家</label>
                      <input class="form-control" type="text" id="country" formControlName="country">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="province">城市</label>
                      <input class="form-control" type="text" id="province" formControlName="province">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="city">省份</label>
                      <input class="form-control" type="text" id="city" formControlName="city">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="address">地址详情</label>
                      <input class="form-control" type="text" id="address" formControlName="address">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="exdelitime">预计交货时间</label>
                      <input class="form-control" type="date" id="exdelitime" formControlName="exdelitime">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="exshiptime">预计发货时间</label>
                      <input class="form-control" type="date" id="exshiptime" formControlName="exshiptime">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                      <label class="control-label" for="tel">联系方式</label>
                      <input class="form-control" type="text" id="tel" formControlName="tel">
                    </div>
                  </div>
                </div>
              </form>
              <div class="pull-left">
                <button class="btn btn-info" data-toggle="modal" data-target="#add">保存</button>
                <button class="btn btn-success" (click)="Submit()" data-toggle="modal" data-target="#add">提交</button>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
