.container-fluid{
  padding: 0;
}
.modal-content{
  position: relative;
  width: 150%;
  left: -100px;
}
.modal-header{
  color: #fff;
  background-color: #2e403c;
}
.modal-body{
  padding: 0;
}
.panel-body{
  color: white;
  border-radius: 0 0 5px 5px;
  background-color: rgba(23, 42, 49, 0.8);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.2);
}
input, select{
  border-radius: 3px;
  border: 0;
  background-color: rgba(103,151,157,0.8);
  color: #FFFFFF;
  height: 25px;
}



