<div class="container-fluid">
  <div class="row content">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 order">
      <div class="row title"><span>营销订单录入：</span></div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">铝板面积</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="Area"  type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">单价（元/平米）</div><div class="col-md-2 col-sm-2 details_2"><input  [(ngModel)]="price" type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">总金额（元）</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="amount" type="number" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">订单编号</div><div class="col-md-2 col-sm-2 details_2"><input  [(ngModel)]="oid" type="text" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">合同名</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="contractname" type="text" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">客户名称</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="cname" type="text" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">铝卷厚度</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="Althickness" type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">铝卷宽度</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="Alwidth" type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">材质类型</div><div class="col-md-2 col-sm-2 details_2"><input  [(ngModel)]="Altype" type="text" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">面漆方案</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="fprogram" type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">底漆方案</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="pprogram" type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">背漆方案</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="bprogram" type="number" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">面漆颜色</div><div class="col-md-2 col-sm-2 details_2"><select [(ngModel)]="ftype" title=""><option>AOOOOO-白色</option></select></div>
        <div class="col-md-2 col-sm-2 details_1">面漆厚度</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="fthickness" type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">面漆成像</div><div class="col-md-2 col-sm-2 details_2"><select [(ngModel)]="fccd" title=""><option>XXX漆</option></select></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">底漆颜色</div><div class="col-md-2 col-sm-2 details_2"><select [(ngModel)]="ptype" title=""><option>AOOOOO-白色</option></select></div>
        <div class="col-md-2 col-sm-2 details_1">底漆厚度</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="pthickness" type="text" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">底漆成像</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="pccd" type="text" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">背漆颜色</div><div class="col-md-2 col-sm-2 details_2"><select [(ngModel)]="btype" title=""><option>AOOOOO-白色</option></select></div>
        <div class="col-md-2 col-sm-2 details_1">背漆厚度</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="bchickness" type="number" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">背漆成像</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="bccd" type="text" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">是否双面涂</div><div class="col-md-2 col-sm-2 details_2"><select [(ngModel)]="doublecloat" title=""><option>1</option><option>0</option></select></div>
        <div class="col-md-2 col-sm-2 details_1">是否有花纹</div><div class="col-md-2 col-sm-2 details_2"><select [(ngModel)]="figura" title=""><option>0</option><option>1</option></select></div>
        <div class="col-md-2 col-sm-2 details_1">生产线</div><div class="col-md-2 col-sm-2 details_2">
        <select [(ngModel)]="pro_system" title="">
          <option >1号生产线</option>
          <option>2号生产线</option>
          <option>3号生产线</option>
        </select></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">国家</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="country" type="text" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">城市</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="province" type="text" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">省份</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="city" type="text" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">预计交货时间</div><div class="col-md-2 col-sm-2 details_2"><input  [(ngModel)]="exdelitime" type="date" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">预计发货时间</div><div class="col-md-2 col-sm-2 details_2"><input  [(ngModel)]="exshiptime" type="date" placeholder="" class="input-sm form-control"></div>
        <div class="col-md-2 col-sm-2 details_1">联系方式</div><div class="col-md-2 col-sm-2 details_2"><input [(ngModel)]="tel" type="text" placeholder="" class="input-sm form-control"></div>
      </div>
      <div class="row details">
        <div class="col-md-2 col-sm-2 details_1">地址详情</div><div class="col-md-2 col-sm-2 details_1"><input [(ngModel)]="address" type="text" placeholder="" class="input-sm form-control"></div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-4 col-sm-4"></div>
          <div class="col-md-4 col-sm-4">
            <button class="btn btn-default">保存</button>
            <button class="btn btn-default" (click)="Submit()">提交</button>
          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
