<div class="container-fluid">
  <app-schedule-table title="营销审核订单列表" (index)="modalValue($event)" [page]="page" (searchOrder)="searchOrder($event)"
                      (pageSearch)="pageSearch($event)" (offSearch)="SeeOrders()" (sProSystem)="selectSystem($event)"
                      [tBody]="tBody" [tHead]="tHead" [btnGroup]="btnGroup" [prop]="prop"></app-schedule-table>
</div>
<div class="modal fade bs-example-modal-lg" id="add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="panel-heading">
        <span>订单详细信息</span>
      </div>
      <div class="panel-body">
        <div class="row" *ngFor="let mp of modalProp;let i=index;">
          <div class="col-md-3 col-sm-6" *ngFor="let m of mp;let j=index;">
            <form class="form-inline">
              <label>{{dataName[i][j]}}:</label>
              <input type="text" title="" value=" {{order[m]}}" [disabled]="true">
            </form>
          </div>
        </div>
        <div class="row" style="text-align: left;margin: 0 10px">
          <button class="btn btn-success" (click)="havePass(2)" data-toggle="modal" data-target=".bs-example-modal-lg">通过</button>
          <button class="btn btn-danger" (click)="havePass(11)" data-toggle="modal" data-target=".bs-example-modal-lg">不通过</button>
          <button class="btn btn-info pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>
