
#table .table-bordered > tbody >tr >td{
  border: 1px solid rgba(255,255,255,0.3);
}
#table .table-bordered > thead >tr >th{
  border: 1px solid rgba(255,255,255,0.8);
}
#table .table-bordered > tfoot{
  text-align: center;
}
#table .table-bordered > tfoot > tr>td{
  border: 1px solid rgba(0,0,0,0);
}
.modal-header{
  background-color: rgba(55,96,108,0.8);
  color: #FFFFFF;
  border: none;
}
.modal-body{
   background-color: rgba(55,96,108,0.5);
   color: #FFFFFF;
 }
.modal-footer{
  padding-top: 8px;
  background-color: rgba(55,96,108,0.8);
  height: 50px;
  color: #FFFFFF;
}
.modal-content{
  color: #FFFFFF;
  padding: 0;
  text-align: left;
}
input{
  color: #000
}
.row > div{
  margin-bottom: 15px;
}
label{
  display: block;
}
