<div class="container-fluid">
  <div class="panel-heading">
    <span>营销审核订单</span>
    <div id="search" class="form-inline pull-right">
      <input type="text" class="form-control" placeholder="搜索订单">
      <i class="fa fa-search"></i>
    </div>
  </div>
  <div class="panel-body">
    <div id="table" class="table-responsive">
      <table  class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>订单编号</th>
          <th>客户名称</th>
          <th>合同名称</th>
          <th>预计发货时间</th>
          <th>录入人员</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order  of orders;let i = index"  title="点击查看订单详情">
          <td>{{(page - 1) * row + i + 1}}</td>
          <td>{{order['oid']}}</td>
          <td>{{order['cname']}}</td>
          <td>{{order['contractname']}}</td>
          <td>{{order['exdelitime']}}</td>
          <td>{{order['submitter']}}</td>
          <td>{{status(order['ostatus'])}}</td>
          <td>
            <button class="btn btn-xs btn-success" (click)="ModalValue(order)" data-toggle="modal" data-target=".bs-example-modal-lg">审核</button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <span>当前第{{page}}页</span>
            <button type="button" class="btn btn-primary" (click)="ProPage()">上一页</button>
            <button type="button" class="btn btn-primary" (click)="NextPage()">下一页</button>
            共{{PageNumber()}}页,跳到
            <input type="number" #skip title="" (keyup.enter)="SkipPage(skip.value)" > 页
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>


</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="panel-heading">
        <span> 详细信息</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <form class="form-inline">
              <label>合同名:</label>
              <input type="text" title="" value=" {{order.contractname}}" [disabled]="true">
            </form>
          </div>
          <div class="col-md-3">
            <form class="form-inline">
              <label>客户名: </label>
              <input type="text" title="" value=" {{order.cname}}" [disabled]="true">
            </form>
          </div>
          <div class="col-md-3">
            <form class="form-inline">
              <label>单价: </label>
              <input type="text" title="" value=" {{order.price}}" [disabled]="true">
            </form>
          </div>
          <div class="col-md-3">
            <form class="form-inline">
              <label>总价: </label>
              <input type="text" title="" value=" {{order.amount}}" [disabled]="true">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>铝板类型: </label>
            <input type="text" title="" value=" {{order.altype}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>铝板长度: </label>
            <input type="text" title="" value=" {{order.allength}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>铝板宽度: </label>
            <input type="text" title="" value=" {{order.alwidth}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>铝板厚度: </label>
            <input type="text" title="" value=" {{order.althickness}}" [disabled]="true">
          </form></div>
        </div>

        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>背漆类型: </label>
            <input type="text" title="" value=" {{order.btype}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>背漆方案选择: </label>
            <input type="text" title="" value=" {{order.bprogram}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>背漆厚度: </label>
            <input type="text" title="" value=" {{order.bchickness}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>背漆厚度: </label>
            <input type="text" title="" value=" {{order.bchicknessw}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>背漆成像: </label>
            <input type="text" title="" value=" {{order.bccd}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>背漆干膜修正: </label>
            <input type="text" title="" value=" {{order.bdry_film}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>背漆湿膜修正: </label>
            <input type="text" title="" value=" {{order.bwet_film}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>面漆类型: </label>
            <input type="text" title="" value=" {{order.ftype}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>面漆厚度: </label>
            <input type="text" title="" value=" {{order.fthickness}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>面漆厚度: </label>
            <input type="text" title="" value=" {{order.fthicknessw}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>面漆方案: </label>
            <input type="text" title="" value=" {{order.fccd}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>面漆生产线: </label>
            <input type="text" title="" value=" {{order.fprogram}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>面漆干膜修正: </label>
            <input type="text" title="" value=" {{order.fdry_film}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>面漆湿膜修正: </label>
            <input type="text" title="" value=" {{order.fwet_film}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>花纹: </label>
            <input type="text" title="" value=" {{order.figure}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>底漆类型: </label>
            <input type="text" title="" value=" {{order.ptype}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>底漆厚度: </label>
            <input type="text" title="" value=" {{order.pthicknessw}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>底漆厚度: </label>
            <input type="text" title="" value=" {{order.pthickness}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>底漆成像: </label>
            <input type="text" title="" value=" {{order.pccd}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>底漆干膜修正: </label>
            <input type="text" title="" value=" {{order.pdry_film}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>底漆湿膜修正: </label>
            <input type="text" title="" value=" {{order.pwet_film}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>底漆生产线: </label>
            <input type="text" title="" value=" {{order.pprogram}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>是否双面涂: </label>
            <input type="text" title="" value=" {{order.doublecloat}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>Id: </label>
            <input type="text" title="" value=" {{order.oid}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>状态: </label>
            <input type="text" title="" value=" {{status(order.ostatus)}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>控制误差: </label>
            <input type="text" title="" value=" {{order.deviation}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>审核人: </label>
            <input type="text" title="" value=" {{order.auditor}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>提交人: </label>
            <input type="text" title="" value=" {{order.submitter}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>提交时间: </label>
            <input type="text" title="" value=" {{order.subtime}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>录入员: </label>
            <input type="text" title="" value=" {{order.audit}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>录入时间: </label>
            <input type="text" title="" value=" {{order.audittime}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-3"><form class="form-inline">
            <label>地址: </label>
            <input type="text" title="" value=" {{order.address}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>联系电话: </label>
            <input type="text" title="" value=" {{order.tel}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>预计交货时间: </label>
            <input type="text" title="" value=" {{order.exdelitime}}" [disabled]="true">
          </form></div>
          <div class="col-md-3"><form class="form-inline">
            <label>预计发货时间: </label>
            <input type="text" title="" value=" {{order.exshiptime}}" [disabled]="true">
          </form></div>
        </div>
        <div class="row" style="text-align: center">
          <button class="btn btn-success" (click)="pass(order)" data-toggle="modal" data-target=".bs-example-modal-lg">通过</button>
          <button class="btn btn-danger" (click)="Nopass(order)" data-toggle="modal" data-target=".bs-example-modal-lg">不通过</button>
        </div>
      </div>
    </div>
  </div>
</div>
