<div class="container-fluid">
  <app-schedule-table title="工艺订单列表" (index)="modalValue($event)" [tHead]="tHead"
                      [page]="page" [prop]="prop" [btnGroup]="btnGroup" [tBody]="tBody"></app-schedule-table>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="panel-heading">
        <span> 详细信息</span>
      </div>
      <div class="panel-body">
        <div class="row" *ngFor="let mp of modalProp;let i=index;">
          <div class="col-md-3 col-sm-6" *ngFor="let m of mp;let j=index;">
            <form class="form-inline">
              <label>{{dataName[i][j]}}:</label>
              <input type="text" title="" value=" {{order[m]}}" [disabled]="true">
            </form>
          </div>
        </div>
        <div id="film">
          <form [formGroup]="film" novalidate style="padding: 0">
            <div class="row" *ngFor="let cp of craftProp;let i=index">
              <div class="col-md-3" *ngFor="let c of cp;let j=index">
                <div class="form-group">
                  <label>{{craftName[i][j]}}</label>
                  <input title="" type="text" formControlName="{{c}}">
                </div>
              </div>
            </div>
          </form>
        </div>
          <div class="row" style="text-align: left;margin: 0 10px">
            <button class="btn btn-success" (click)="havePass(2)" data-toggle="modal" data-target=".bs-example-modal-lg" [disabled]="film.invalid">通过</button>
            <button class="btn btn-danger" (click)="havePass(11)" data-toggle="modal" data-target=".bs-example-modal-lg">不通过</button>
            <button class="btn btn-info pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">关闭</button>
          </div>
        </div>
    </div>
  </div>
</div>


