.All_list{
  color: white;
  margin-left: 0;
  margin-top: 0;
  background-color: rgba(33,51,63,0.9);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}
.btn:focus{
  border: none;
  outline: none;
}
.first{
  width: 50px;
}
.btnactive{
  margin-left: 300px;
}
button{
  margin: 20px;
}
.form-inline > input{
  height: 30px;
  background-color: rgba(0,0,0,.4);
}
.form-inline i{
  margin-left: 20px;
  font-size: 20px;
  color: rgba(0,0,0,.4);
  margin-right: 20px;
}
.form-inline > input:hover{
  border: none;
  outline: none;
}
input{
  width: 80px;
  height: 20px;
  line-height: 40px;
  background-color: rgba(0,0,0,.4);
  border: none;
}
input:focus,input:hover{
  border: none;
  outline: none;
}
.ListSearch{
  height: 45px;
  font-size: 10px;
  line-height: 100%;
}
.table{
  margin-top: 30px;
}
.table tr{
  border-top: none;
}
table th{
  padding: 5px 0 5px 40px;
  height: 27px;
  font-size: 17px;
}
table td{
  font-size: 16px;
  height: 48px;
  padding: 16px 0 16px 40px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  border-top: none;
  border-bottom: .1em solid rgba(192,192,192,0.5);
}
tr:hover{
  background-color:rgba(96,96,96,0.2);
}


#container-fluid{
  background-color: rgba(33,51,63,0.9);
  background-size: 100% 100%;
  border-radius: 10px;
  padding: 0px 50px 0px 50px;
  color: #ffffff;
}
p > span{
  margin-left: 40px;
}
select > option, select{
  width: 60%;
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,.3);
}
button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-primary{
  margin-left: 20px;
}
.pass{
  margin-left: 300px;
  margin-right: 100px;
}
