img{
  width: 250px;
  padding-right: 10px;
}
input{
  color: #000;
  padding: 2px 5px;
  border-radius: 1px;
  height: 25px;
}
select{
  width: auto;
  padding-top: 2px;
  font-size: 12px;
  margin-right: 5px;
}
