<div class="modal fade bs-example-modal-lg" tabindex="-1" id="process" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="panel-heading">
        <span>订单录入</span>
      </div>
      <div class="panel-body">
        <div class="form">
          <form [formGroup]="process" novalidate>
            <div class="row" *ngFor="let mp of modalProp;let i=index;">
              <div class="col-xs-6 col-sm-3"  *ngFor="let m of mp;let j=index;">
                <div class="form-group">
                  <label class="control-label">{{modalName[i][j]}}:</label>
                  <input title="" class="form-control" type="number" formControlName="{{m}}" [disabled]="!modify">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row" style="text-align: left;margin: 0 10px">
          <button class="btn btn-success" (click)="modify=true" data-toggle="modal" [disabled]="modify" data-target="#process">修改工艺包</button>
          <button class="btn btn-success" (click)="modifyProcess();modify=false;" [disabled]="!modify" data-toggle="modal" data-target="#process">修改完成</button>
          <button class="btn btn-info pull-right" data-toggle="modal" data-target="#process">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>

