.materialAudit{
  background-color: #21333f;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 1.5%;
}

/*样式修改ZL*/
.first{
  margin-left: 5px;
  background-color:#fff;
  color:black;
  margin-bottom: 5px;
}
.first:hover{
  transform: scale(1.1,1.1);
  background-color:rgba(72,209,204,0.6);
  border-radius: 5px;
}
input{
  line-height: normal;
  width: 60px;
  height: 20px;
}
.second{
  background-color:rgba(72,209,204,0.6);
  color: white;
  border-radius: 5px;
}
.second:hover{
  background-color:#fff;
  color:black;
  transform: scale(1.1,1.1);
}
.third{
  margin-top: 8px;
  margin-left:16px;
}
