<div class="container-fluid">
  <div class="panel-heading">

    <div class="pull-left" style="padding-right: 15px"><span>原材料未审核列表</span></div>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <div class="pull-right">
      <button class="btn btn-xs" (click)="toggleBtn(0);entry.toggleBtn(0);" [ngClass]="{'btn-danger': type === 0, 'btn-default': type !== 0}">铝卷</button>
      <button class="btn btn-xs" (click)="toggleBtn(1);entry.toggleBtn(1);" [ngClass]="{'btn-danger': type !== 0, 'btn-default': type === 0}">油漆</button>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th *ngFor="let th of tHead">{{th}}</th>
        </tr>
        <tr *ngFor="let tb of tBody;let j =index">
          <td>{{j}}</td>
          <td>{{readType()}}</td>
          <td *ngFor="let p of prop">{{tb[p]}}</td>
          <td>
            <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#entry" (click)="modalValue(j);entry.getModalData(j)" >审核</button></td>
        </tr>
        <tfoot>
        <tr>
          <td colspan="8">
            <button type="button" class="btn btn-primary" (click)="page.lastPage()">上一页</button>
            <button type="button" class="btn btn-primary" (click)="page.nextPage()">下一页</button>
            当前{{page.getNowPage()}}共{{page.getMax()}}页 ,跳到 <input #input (keyup.enter)="page.skipPage(input.value)" type="number" title=""> 页
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<app-material-entry [tBody]="tBody" [AlArr]="AlArr" [PtArr]="PtArr" [PtdArr]="PtdArr" [btn]="btn"
                    (getData)="getData($event)" (pass)="havePass($event)" #entry></app-material-entry>
