
.table-bordered > tbody >tr >td{
  border: 1px solid rgba(255,255,255,0.3);
}
.table-bordered > thead >tr >th{
  border: 1px solid rgba(255,255,255,0.8);
}
.table-bordered > tfoot{
  text-align: center;
}
.table-bordered > tfoot > tr>td{
  border: 1px solid rgba(0,0,0,0);
}
input{
  color: #000000;
}
label{
  display: block;
}
