
.table-bordered > tbody >tr >td{
  border: 1px solid rgba(255,255,255,0.3);
}
.table-bordered > thead >tr >th{
  border: 1px solid rgba(255,255,255,0.8);
}
.table-bordered > tfoot{
  text-align: center;
}
.table-bordered > tfoot > tr>td{
  border: 1px solid rgba(0,0,0,0);
}
input{
  color: #000000;
}
label{
  display: block;
}
.panel-footer{
  background-color: rgba(55,96,108,0.3);
  box-shadow:2px 4px 2px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  border-top: none;
  color: white;
}
input{
  color: #000;
  padding: 2px 5px;
  border-radius: 1px;
  height: 25px;
}
.modal-content input{
  width: 100%;
}
label{
  display: block;
  padding-top: 5px;
}
select{
  width: auto;
  padding: 2px;
  font-size: 12px;
}
