<div class="container-fluid">
  <app-schedule-table title="订单信息列表" (index)="modalValue($event)" [page]="page" [btn]="true" (delete)="deleteOrder($event)"
                      [tBody]="tBody" [tHead]="tHead" [btnGroup]="btnGroup" [prop]="prop" (formName)="addOrder()"></app-schedule-table>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="add" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="panel-heading">
        <span>订单录入</span>
      </div>
      <div class="panel-body">
        <div class="form">
          <form [formGroup]="formName" novalidate>
            <div class="row" *ngFor="let mp of modalProp;let i=index;">
              <div class="col-xs-6 col-sm-3"  *ngFor="let m of mp;let j=index;">
                <div class="form-group">
                  <label class="control-label">{{dataName[i][j]}}:</label>
                  <input title="" class="form-control" type="{{propType[i][j]}}" formControlName="{{m}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <label>是否双面涂:</label>
                <select title="" [(ngModel)]="doublecloat" [ngModelOptions]="{standalone: true}">
                  <option>是</option>
                  <option>否</option>
                </select>
              </div>
              <div class="col-xs-6 col-sm-3">
                <label>花纹有无:</label>
                <select title="" [(ngModel)]="figura" [ngModelOptions]="{standalone: true}">
                  <option>有</option>
                  <option>无</option>
                </select>
              </div>
              <div class="col-xs-6 col-sm-3">
                <label>生产线:</label>
                <select title="" [(ngModel)]="pro_system" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let pn of pro_systemName">{{pn['name']}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="row" style="text-align: left;margin: 0 10px">
          <button class="btn btn-success" *ngIf="btnName === '提交'" (click)="submitOrder()" data-toggle="modal" data-target="#add" [disabled]="btnBool()">提交</button>
          <button class="btn btn-success" *ngIf="btnName === '修改完成'" (click)="modifyOrder()" data-toggle="modal" data-target="#add">修改完成</button>
          <button class="btn btn-info pull-right" data-toggle="modal" data-target="#add">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>
