/*主体样式*/
#table .table-bordered > tbody >tr >td{
  border: 1px solid rgba(255,255,255,0.3);
}
#table .table-bordered > tbody > tr:hover{
  cursor: pointer;
  background-color: rgba(75, 117, 143, 0.55);
}
#table .table-bordered > thead >tr >th{
  border: 1px solid rgba(255,255,255,0.8);
}
#table .table-bordered > tfoot{
  text-align: center;
}
#table .table-bordered > tfoot > tr>td{
  border: 1px solid rgba(0,0,0,0);
}
.modal-body{
  background-color: rgba(55,96,108,0.5);
  color: #FFFFFF;
}
.modal-footer{
  padding-top: 8px;
  background-color: rgba(55,96,108,0.8);
  height: 50px;
  color: #FFFFFF;
}
.modal-content{
  color: #FFFFFF;
  padding: 0;
  text-align: left;
  background-color: #253847;
}
input{
  color: #000;
  border-radius: 0;
  border-width: 2px;
  border-color: #fff;
  height: 26px;
  padding: 1px 0 1px 0;
}
.row > div{
  margin-bottom: 15px;
}
label{
  display: block;
}
.activeBg{
  background: rgba(75, 117, 143, 0.55);
}
select{
  height: 26px;
  padding: 1px 0 1px 0;
  width: 100%;
  color: black;
}
h5{
  text-align: center;
}
