<div class="container-fluid">
  <div class="panel-heading">
    <span>视频数据监视</span>
    <div class="dropdown pull-right">
      <button class="btn btn-xs btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        生产系统1
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>生产系统1</li></ul>
    </div>
    <div>

    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div [innerHTML]="vlc1"></div>
        </div>
      </div>
      <div class="col-md-3">
        <ul>
          <li class="ul3" [ngStyle]="{'height': videoTree.open + 'px'}"><a [ngStyle]="{'backgroundColor': videoTree.color?baseColor:''}" (click)="toggleOpenUl3()">{{videoTree.name}}</a>
            <ul *ngFor="let video of videoTree.child; let videoIndex = index">
              <li class="ul2" [ngStyle]="{'height': video.open + 'px'}"><a [ngStyle]="{'backgroundColor': video.color?baseColor:''}" (click)="toggleOpenUl2(videoIndex)">{{video.name}}</a>
                <ul *ngFor="let v of video.child" >
                  <li class="ul1">
                    <a>{{v?.value}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
  </div>
</div>
