input{
  color: #000;
  padding: 2px 5px;
  border-radius: 1px;
  height: 25px;
}
.modal-content input{
  width: 100%;
}
label{
  display: block;
  padding-top: 5px;
}
select{
  width: auto;
  padding: 2px;
  font-size: 12px;
}
