
.table-bordered > tbody >tr >td{
  border: 1px solid rgba(255,255,255,0.3);
}
.table-bordered > thead >tr >th{
  border: 1px solid rgba(255,255,255,0.8);
}
.table-bordered > tfoot{
  text-align: center;
}
.table-bordered > tfoot > tr>td{
  border: 1px solid rgba(0,0,0,0);
}
label{
  display: block;
}
input{
  color: #000;
  border-radius: 0;
  border-width: 2px;
  border-color: #fff;
  height: 26px;
  padding: 1px 0 1px 0;
}
select{
  height: 26px;
  padding: 1px 0 1px 0;
  width: 100%;
  color: black;
  border-radius: 0;
}
