<div class="panel-heading">
    <span>原材料录入清单</span>
  <div class="pull-right">
    <div>
      <button class="btn btn-xs btn-info" (click)="hid = false">铝卷</button>
      <button class="btn btn-xs btn-info" (click)="hid = true">油漆</button>
      <button class="btn btn-xs btn-info" title="新增订单">新增</button>
      <button  class="btn btn-xs btn-info" title="已保存订单数" (click)="SeeOrders(0);SeeOrders(1);">所有订单</button>
      <button  class="btn btn-xs btn-info" title="已保存订单数" (click)="SeeOrdersStatus(0,2);SeeOrdersStatus(1,2);">已保存</button>
      <button  class="btn btn-xs btn-info" title="未通过订单数" (click)="SeeOrdersStatus(0,4);SeeOrdersStatus(1,4);">未通过</button>
    </div>
  </div>
</div>
<div class="panel-body" *ngIf="hid">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>类型</th>
        <th>采购单编号</th>
        <th>生产厂家</th>
        <th>生产日期</th>
        <th>总金额</th>
        <th>重量</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of aluminums;let j =index" [routerLink]="['/main/marketing-order-detail', i['purchase'], 0]">
        <td>{{j}}</td>
        <td>铝卷</td>
        <td>{{i.purchase}}</td>
        <td>{{i.subtime}}</td>
        <td>{{i.pro_system}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.weight}}</td>
        <td>{{i.ostatus}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="8">
          <button type="button" class="btn btn-primary" (click)="ProAluminumPage()">上一页</button>
          <button type="button" class="btn btn-primary" (click)="NextAluminumPage()">下一页</button>
          共1页 ,跳到 <input type="number" title="" #Aluminumpage (click)="SkipAluminumPage(Aluminumpage.value)"> 页
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="panel-body" *ngIf="!hid">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>类型</th>
        <th>采购单编号</th>
        <th>生产厂家</th>
        <th>生产日期</th>
        <th>总金额</th>
        <th>重量</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of prints;let j = index">
        <td>{{j}}</td>
        <td>油漆</td>
        <td>{{i.purchase}}</td>
        <td>{{i.subtime}}</td>
        <td>{{i.pro_system}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.weight}}</td>
        <td>{{i.ostatus}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="8">
          <button type="button" class="btn btn-xm btn-primary" (click)="ProPrintPage()">上一页</button>
          <button type="button" class="btn btn-primary" (click)="NextPrintPage()">下一页</button>
          共1页 ,跳到 <input type="number" title="" #Aluminumpage (click)="SkipPrintPage(Aluminumpage.value)"> 页
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
