
<div class="modal fade bs-example-modal-lg" id="entry" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="panel-heading">
        <span>{{readType()}}录入</span>
        <div class="pull-right">
          <div>
            <button class="btn btn-xs btn-danger">{{readType()}}</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="form">
          <form [formGroup]="formName">
            <div class="row" *ngFor="let mp of modalProp;let i=index;">
              <div class="col-md-3 col-xs-6" *ngFor="let m of mp;let j=index;">
                <div class="form-group" *ngIf="dataName[i][j]!=='生产系统'">
                  <label>{{dataName[i][j]}}:</label>
                  <input type="{{dataType[i][j]}}" title="" formControlName="{{m}}">
                </div>
                <div class="form-group" *ngIf="dataName[i][j]==='生产系统'">
                  <label>{{dataName[i][j]}}:</label>
                  <select  title="" [(ngModel)]="pro_system" [ngModelOptions]="{standalone: true}" >
                    <option *ngFor="let pS of pro_systemName">{{pS['sysName']}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="type === 0">
              <div class="col-md-12">
                <button class="btn btn-md btn-success" (click)="addALArr()">添加分卷</button>
              </div>
            </div>
            <div class="row" *ngFor="let al of AlArr;let i=index">
              <div class="col-md-3 col-xs-6">
                <div class="form-group">
                  <label>{{AlName[0]}}:</label>
                  <input type="text" title="" [(ngModel)]="al[AlProp[0]]" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group">
                  <label>{{AlName[1]}}:</label>
                  <input type="text" title="" [(ngModel)]="al[AlProp[1]]" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <button class="btn btn-danger btn-xs" (click)="deleteAlArr(i)">删除</button>
              </div>
            </div>
            <div class="row" *ngIf="type === 1">
              <div class="col-md-12">
                <button class="btn btn-md btn-success" (click)="addPtArr()">添加油漆桶</button>
              </div>
            </div>
            <div class="row" *ngFor="let pt of PtArr;let i=index">
              <div class="col-md-3 col-xs-6">
                <div class="form-group">
                  <label>{{PtName[0]}}:</label>
                  <input type="text" title="" [(ngModel)]="pt[PtProp[0]]" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group">
                  <label>{{PtName[1]}}:</label>
                  <input type="text" title="" [(ngModel)]="pt[PtProp[1]]" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <button class="btn btn-danger btn-xs" (click)="deletePtArr(i)">删除</button>
              </div>
            </div>
            <div class="row" *ngIf="type === 1">
              <div class="col-md-12">
                <button class="btn btn-md btn-success" (click)="addPtdArr()">添加稀释剂桶</button>
              </div>
            </div>
            <div class="row" *ngFor="let ptd of PtdArr;let i=index">
              <div class="col-md-3 col-xs-6">
                <div class="form-group">
                  <label>{{PtdName[0]}}:</label>
                  <input type="text" title="" [(ngModel)]="ptd[PtdProp[0]]" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="form-group">
                  <label>{{PtdName[1]}}:</label>
                  <input type="text" title="" [(ngModel)]="ptd[PtdProp[1]]" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <button class="btn btn-danger btn-xs" (click)="deletePtdArr(i)">删除</button>
              </div>
            </div>
          </form>
          <div class="row" *ngIf="btn === '提交'">
            <div class="col-md-12">
              <div>
                <button class="btn btn-success btn-md" (click)="submit()" data-toggle="modal" data-target="#entry">提交</button>
                <button class="btn btn-info pull-right" data-toggle="modal" data-target="#entry">关闭</button>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="btn === '审核'">
            <div class="col-md-12">
              <div>
                <button class="btn btn-danger btn-md" (click)="havePass(2)" data-toggle="modal" data-target="#entry">通过并打印二维码</button>
                <button class="btn btn-success btn-md" (click)="havePass(1)" data-toggle="modal" data-target="#entry">不通过</button>
                <button class="btn btn-info pull-right" data-toggle="modal" data-target="#entry">关闭</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
