.container-fluid{
  padding: 0 40px;
}
.panel-heading{
  background-color: rgba(55,96,108,0.5);
  box-shadow:0 1px 1px 0 rgba(0,0,0,0.5);
  border-radius: 5px 5px 0 0;
  color: white;
}
.panel-heading > span{
  font-size: 16px;
}
.panel-body{
  background-color: rgba(55,96,108,0.3);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  color: white;
}
.panel-heading > .dropdown{
  margin-right: 10px;
}
#sensor > .dropdown-menu{
  overflow-y: scroll;
  height: 200px;
}
.panel-heading > .dropdown > ul{
  background-color: rgba(33,51,63,1);
  text-align: center;
  cursor: pointer;
}
.panel-heading > .dropdown > ul >li:hover{
  background-color: #1F9B8F;
}
