
select{
  width: auto;
  margin-right: 5px;
  padding-top: 1px;
}

.calendar{
  color: black;
  position: absolute;
  top: 8px;
  left: 150px;
  height: 30px;
}

.panel-heading{
  position: relative;
}
.ui-corner-all{
  border-radius: 0;
}
