<div>
  <div class="dropdown pull-right">
    <button id="dLabel1" class="btn btn-xs btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      中国铝业
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel1">
      中国铝业
    </ul>
  </div>
  <div class="dropdown pull-right">
    <button id="dLabel2" class="btn btn-xs btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      贵州铝厂
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel2">
      贵州铝厂
    </ul>
  </div>
  <div class="dropdown pull-right">
    <button id="dLabel3" class="btn btn-xs btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      中铝彩铝
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel3">
      中铝彩铝
    </ul>
  </div>
  <div class="dropdown pull-right" style="height: 100px">
    <button id="dLabel4" class="btn btn-xs btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      生产系统
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel4">
      <li *ngFor="let i of system">{{i['sysname']}}</li>
    </ul>
  </div>
</div>
