<div class="panel-heading">
  <span>事件数据列表</span>
  <div class="dropdown pull-right">
    <button class="btn btn-xs btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      请选择事件类型...
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li>订单类事件</li>
      <li>生产类事件</li>
      <li>监控类事件</li>
      <li>操作类事件
      </li>
    </ul>
  </div>
</div>
<div class="panel-body">
  <div id="table" class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>订单编号</th>
        <th>事件信息</th>
        <th>时间</th>
        <th>描述</th>
      </tr>
      <tr *ngFor="let list of Modal1;let i = index" (click)="openModal(template, list)">
        <td>{{i}}</td>
        <td>{{list['target_id']}}</td>
        <td>{{list['event_type']}}</td>
        <td>{{list['event_date']}}</td>
        <td>{{list['event_name']}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="panel-footer">
  <a>查看更多</a>
  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
</div>
<!-- 模态框-->
<ng-template #template>
  <div class="modal-header">
    <div class="modal-title pull-left">Modal</div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal
  </div>
</ng-template>
