.event-list{
  color: white;
  background: rgba(55,96,108,0.3);
  height: 500px;
}
.event-list-title{
  border-bottom: 1px solid rgba(255,255,255,0.3);;
}
.event-list-title>p{
  font-size: 20px;
  font-weight: bold;
  padding: 15px 10px 5px 15px;
  margin-bottom: 0;
}
.event-list-title>.btn-group{
  padding: 12px 10px;
}
.event-list-title .dropdown-menu{
  background: rgba(21,30,38,0.9);
}

.event-list-table{
  height: 400px;
  overflow: hidden;
}

.event-list-footer{
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  cursor: pointer;
}
.event-list-footer>a{
  color: white;
  text-decoration: none;
}
.event-list-footer>a:hover{
 text-decoration: none;
  cursor: pointer;
}



.form-control{
  background: none;
  border: none;
  color: white;
}

/*公共类 清除浮动 内墙法*/
.cl{
  clear: both;
}
/*bootstrap改造*/
.dropdown-menu{
  top: 43px;
  left: 10px;
  min-width: 20px;
  width: 136px;
  background-color: rgba(255,255,255,0.1);
}
.dropdown-item{
  padding: 5px 5px;
  cursor: pointer;
  color: white;
}
.dropdown-item:hover{
  background: #5BC0DE;
}
.btn-primary{
  background-color: rgba(94,107,118,0.3);
  border: none;
}
.open > .dropdown-toggle.btn-primary{
  color: #fff;
  background-color: rgba(94,107,118,0.3);;
  border: none;
}

