<div class="panel-heading">
  <span>事件数据列表</span>
  <div class="dropdown pull-right">
    <button class="btn btn-xs btn-info" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{eventType || '请选择事件类型...'}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li (click)="EventT('订单类事件')">订单类事件</li>
      <li (click)="EventT('生产类事件')">生产类事件</li>
      <li (click)="EventT('监控类事件')">监控类事件</li>
      <li (click)="EventT('操作类事件')">操作类事件</li>
    </ul>
  </div>
</div>
<div class="panel-body">
  <div id="table" class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>订单编号</th>
        <th>事件信息</th>
        <th>时间</th>
        <th>描述</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of Modal1;let i = index" (click)="openModal(template, list)">
        <td>{{i + 1}}</td>
        <td>{{list['target_id']}}</td>
        <td>{{list['event_type']}}</td>
        <td>{{list['event_date']}}</td>
        <td>{{list['event_name']}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 模态框-->
<ng-template #template>
  <div class="modal-header">
    <div class="modal-title pull-left">详细信息</div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <span>事件Id: {{Modal2.event_id}}</span>
      </div>
      <div class="col-md-4">
        <span>事件类型: {{Modal2.event_type}}</span>
      </div>
      <div class="col-md-4">
        <span>事件名: {{Modal2.event_name}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>所在生产线: {{Modal2.pro_system}}</span>
      </div>
      <div class="col-md-4">
        <span>事件发生时间:{{Modal2.event_date}}</span>
      </div>
      <div class="col-md-4">
        <span>type:{{Modal2.type}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>附件:{{Modal2.event_attachment}}</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>
