<div class="panel-heading">
  <span>订单列表</span>
  <div class="pull-right">
    <a style="">查看更多</a>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
</div>
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped" >
      <thead>
      <tr>
        <th><input type="checkbox" title=""><span>全选</span></th>
        <th>ID</th>
        <th>公司名</th>
        <th>信息</th>
        <th>时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of Order;let i =index" [routerLink]="['/main/ymain/details', list['oid']]">
        <td><input type="checkbox" title="">{{i}}</td>
        <td>{{list['oid']}}</td>
        <td>{{list['cname']}}</td>
        <td>{{list['submitter']}}</td>
        <td>{{list['subtime']}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
