<div class="panel-heading">
  <span>订单列表</span>
  <div class="pull-right">
    <a style="">查看更多</a>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
</div>
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped" >
      <thead>
      <tr>
        <th><span>#</span></th>
        <th>ID</th>
        <th>公司名</th>
        <th>信息</th>
        <th>时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of orders;let i =index" (click)="modal(list)" data-toggle="modal" data-target=".bs-example-modal-lg">
        <td>{{i + 1}}</td>
        <td>{{list['oid']}}</td>
        <td>{{list['cname']}}</td>
        <td>{{list['submitter']}}</td>
        <td>{{list['subtime']}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--模态框-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content" style="margin: 0 -40px">
      <div class="panel-heading">
        <span> 详细信息</span>
        <div class="pull-right"><button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal2">流程图</button></div>
      </div>
      <div class="panel-body">
        <div class="form">
          <form class="form-inline" [formGroup]="order" novalidate>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>合同名:</label>
                  <input type="text" title="" formControlName="contractname" >
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>客户名: </label>
                  <input type="text" title="" formControlName="cname" >
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>单价: </label>
                  <input type="text" title="" formControlName="price" >
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>总价: </label>
                  <input type="text" title="" formControlName="amount" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                <label>铝板类型: </label>
                <input type="text" title="" formControlName="altype" >
              </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                <label>铝板长度: </label>
                <input type="text" title="" formControlName="allength" >
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>铝板宽度: </label>
                <input type="text" title="" formControlName="alwidth">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>铝板厚度: </label>
                <input type="text" title="" formControlName="althickness">
              </div></div>
            </div>

            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>背漆类型: </label>
                <input type="text" title="" formControlName="btype">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>背漆方案选择: </label>
                <input type="text" title="" formControlName="bprogram">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>背漆厚度: </label>
                <input type="text" title="" formControlName="bchickness">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>背漆厚度: </label>
                <input type="text" title="" formControlName="bchicknessw">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>背漆成像: </label>
                <input type="text" title="" formControlName="bccd">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>背漆干膜修正: </label>
                <input type="text" title="" formControlName="bdry_film">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>背漆湿膜修正: </label>
                <input type="text" title="" formControlName="bwet_film">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>面漆类型: </label>
                <input type="text" title="" formControlName="ftype">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>面漆厚度: </label>
                <input type="text" title="" formControlName="fthickness">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>面漆厚度: </label>
                <input type="text" title="" formControlName="fthicknessw">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>面漆方案: </label>
                <input type="text" title="" formControlName="fccd">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>面漆生产线: </label>
                <input type="text" title="" formControlName="fprogram">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>面漆干膜修正: </label>
                <input type="text" title="" formControlName="fdry_film">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>面漆湿膜修正: </label>
                <input type="text" title="" formControlName="fwet_film">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>花纹: </label>
                <input type="text" title="" formControlName="figure">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>底漆类型: </label>
                <input type="text" title="" formControlName="ptype">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>底漆厚度: </label>
                <input type="text" title="" formControlName="pthicknessw">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>底漆厚度: </label>
                <input type="text" title="" formControlName="pthickness">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>底漆成像: </label>
                <input type="text" title="" formControlName="pccd">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>底漆干膜修正: </label>
                <input type="text" title="" formControlName="pdry_film">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>底漆湿膜修正: </label>
                <input type="text" title="" formControlName="pwet_film">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>底漆生产线: </label>
                <input type="text" title="" formControlName="pprogram">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>是否双面涂: </label>
                <input type="text" title="" formControlName="doublecloat">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>  Id:  </label>
                <input type="text" title="" formControlName="oid">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>状态: </label>
                <input type="text" title="" formControlName="ostatus">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>控制误差: </label>
                <input type="text" title="" formControlName="deviation">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>审核人: </label>
                <input type="text" title="" formControlName="auditor">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3"><div class="form-group">
                <label>提交人: </label>
                <input type="text" title="" formControlName="submitter">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>提交时间: </label>
                <input type="text" title="" formControlName="subtime">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>录入员: </label>
                <input type="text" title="" formControlName="audit">
              </div></div>
              <div class="col-md-3"><div class="form-group">
                <label>录入时间: </label>
                <input type="text" title="" formControlName="audittime">
              </div></div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                <label>地址: </label>
                <input type="text" title="" formControlName="address">
              </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                <label>联系电话: </label>
                <input type="text" title="" formControlName="tel">
              </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                <label>预计交货时间: </label>
                <input type="text" title="" formControlName="exdelitime">
              </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                <label>预计发货时间: </label>
                <input type="text" title="" formControlName="exshiptime">
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" id="myModalLabel">流程图</span>
      </div>
      <div class="modal-body">
        <div class="row" id="sct">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[0]" type="button" class="btn btn-success btn-raised">订单录入</button></div>
            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[1]" type="button" style="border-color: rgba(183,30,88,0.82);background-color: rgba(183,30,88,0.82)" class="btn btn-success btn-raised">一审</button></div>
            </div>
            <div class="col-md-12"><div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[2]" type="button" style="border-color: rgba(183,69,23,0.81);background-color: rgba(183,69,23,0.81)" class="btn btn-success btn-raised">二审</button></div></div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[3]" type="button" style="border-color: rgba(170,183,36,0.82);background-color: rgba(170,183,36,0.82)" class="btn btn-success btn-raised">等待生产</button></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12"><div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[4]" type="button" style="border-color: rgba(120,183,56,0.82);background-color: rgba(120,183,56,0.82)" class="btn btn-success btn-raised">正在生产</button></div>

            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[5]" type="button" style="border-color: rgba(183,55,168,0.82);background-color: rgba(183,55,168,0.82)" class="btn btn-success btn-raised">生产结束</button></div>
            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[6]" type="button" style="border-color: rgba(118,75,183,0.82);background-color: rgba(118,75,183,0.82)" class="btn btn-success btn-raised">已入库</button></div>
            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[7]" type="button" style="border-color: rgba(77,112,183,0.82);background-color: rgba(77,112,183,0.82)" class="btn btn-success btn-raised">已出库</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
