.order-list{
  color: white;
  background: rgba(55,96,108,0.3);
  min-height: 300px;
}
.order-list-title{
  border-bottom: 1px solid rgba(255,255,255,0.3);;
}
.order-list-title>p{
  font-size: 20px;
  font-weight: bold;
  padding: 15px 10px 5px 15px;
  margin-bottom: 0;
}
.order-list-title>.pull-right{
  padding: 12px 10px;
  cursor: pointer;
}
.order-list-title>.pull-right>a{
  color: white;
  text-decoration: none;
}
.order-list-title>.pull-right>a:hover{
  text-decoration: none;
  cursor: pointer;
}
/*公共类 清除浮动 内墙法*/
.cl{
  clear: both;
}
