.panel-heading{
  background-color: rgba(55,96,108,0.5);
  box-shadow:0 1px 1px 0 rgba(0,0,0,0.3);
  border-radius: 5px 5px 0 0;
  color: white;
}
.panel-heading > span{
  font-size: 16px;
}
.panel-body{
  background-color: rgba(55,96,108,0.3);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  color: white;
}
.table-striped > tbody >tr:nth-of-type(odd){
  background-color: rgba(33,51,63,0.5);
}
.table-striped > tbody > tr:hover{
  cursor: pointer;
  background-color: rgba(75, 117, 143, 0.55);
}
.table > tbody > tr > td, .table > tbody > tr > th{
  border-top: none;
}
a{
  cursor: pointer;
}

