<div class="panel-heading">
  <span>订单列表</span>
</div>
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped" >
      <thead>
      <tr>
        <th *ngFor="let oTN of orderTableName">{{oTN}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;let i =index" (click)="modal(order)" data-toggle="modal" data-target=".bs-example-modal-lg">
        <td>{{i + 1}}</td>
        <td *ngFor="let oTP of orderTableProp">{{order[oTP]}}</td>
        <td>{{chineseStatus(order['ostatus'])}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--模态框-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content" style="margin: 0 -40px">
      <div class="panel-heading">
        <span> 详细信息</span>
        <div class="pull-right"><button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal2">流程图</button></div>
      </div>
      <div class="panel-body">
        <div class="form">
          <form [formGroup]="order" novalidate>
            <div class="row" *ngFor="let mp of orderFormProp;let i=index;">
              <div class="col-xs-6 col-sm-3"  *ngFor="let m of mp;let j=index;">
                <div class="form-group">
                  <label class="control-label">{{orderFormName[i][j]}}:</label>
                  <input title="" class="form-control" type="text" formControlName="{{m}}">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" style="text-align: right"><button class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">关闭</button></div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" id="myModalLabel">流程图</span>
      </div>
      <div class="modal-body">
        <div class="row" id="sct">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[0]" type="button" class="btn btn-success btn-raised">订单录入</button></div>
            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[1]" type="button" style="border-color: rgba(183,30,88,0.82);background-color: rgba(183,30,88,0.82)" class="btn btn-success btn-raised">一审</button></div>
            </div>
            <div class="col-md-12"><div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[2]" type="button" style="border-color: rgba(183,69,23,0.81);background-color: rgba(183,69,23,0.81)" class="btn btn-success btn-raised">二审</button></div></div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[3]" type="button" style="border-color: rgba(170,183,36,0.82);background-color: rgba(170,183,36,0.82)" class="btn btn-success btn-raised">等待生产</button></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12"><div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[4]" type="button" style="border-color: rgba(120,183,56,0.82);background-color: rgba(120,183,56,0.82)" class="btn btn-success btn-raised">正在生产</button></div>

            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[5]" type="button" style="border-color: rgba(183,55,168,0.82);background-color: rgba(183,55,168,0.82)" class="btn btn-success btn-raised">生产结束</button></div>
            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[6]" type="button" style="border-color: rgba(118,75,183,0.82);background-color: rgba(118,75,183,0.82)" class="btn btn-success btn-raised">已入库</button></div>
            </div>
            <div class="col-md-12">
              <div class="button-wrapper ng-scope"><button [disabled]="buttonDisabled[7]" type="button" style="border-color: rgba(77,112,183,0.82);background-color: rgba(77,112,183,0.82)" class="btn btn-success btn-raised">已出库</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
