<div class="container-fluid">
  <div class="panel-heading">
    <span>待入库成品</span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>订单编号</th>
          <th>已入库数量</th>
          <th>成品产出时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders;let i = index">
          <td>{{i + 1}}</td>
          <td>{{order.oid}}</td>
          <td>{{order.numofware}}</td>
          <td>{{order.idt}}</td>
          <td>{{order.status}}</td>
          <td><button class="btn btn-success btn-xs" [routerLink]="['/qrcode',order.oid]">打印</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
