#table{
  margin: auto;
  background-color: rgba(55,96,108,0.3);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.3);
  border-radius: 0 0 5px 5px;
}
#table td{
  color: white;
  font-size: 14px;
}
#table td:nth-child(3n){
  font-size: 12px;
  text-align: center;
}
#table td:nth-child(3n+1){
  font-size: 15px;
  text-align: center;
}
#table tbody>tr>td:nth-child(5):hover{
  background-color: #337ab7;
  cursor: pointer;
}
#table tbody>tr>td:nth-child(2):hover{
  background-color: #337ab7;
  cursor: pointer;
}
.modal-content{
  color: #FFFFFF;
  padding: 15px;
  text-align: center;
  background-color: #253847;
}
select{
  width: auto;
  padding-top: 1px;
}
