
<div class="container-fluid">
  <div class="panel-heading">
    感知层即时数据
    <div class="dropdown pull-right" id="dropdown">
      <button id="dLabel" class="btn btn-xs btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{Modularname}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li *ngFor="let i of Modular" (click)="ModularIdInit(i)">{{i['mname']}}</li>
      </ul>
    </div>
  </div>
  <div class="table-responsive panel-body" id="table">
    <table class="table table-bordered">
      <thead>
      <tr><td>#</td><td>感知层名称</td><td>变量值</td><td>#</td><td>感知层名称</td><td>变量值</td></tr>
      </thead>
      <tbody>
      <tr  *ngFor="let i of DeviceSensor;let j = index">
        <td>{{2 * j + 1}}</td>
        <td (click)="modal2(i.one);ReSizeInit()" data-toggle="modal" data-target=".bs-example-modal-lg">{{i['one']['Name']['dname']}} - {{i['one']['Name']['sname']}}</td>
        <td>{{i['one']['data']}}</td>
        <td *ngIf="i['two']">{{2 * j + 2}}</td>
        <td (click)="modal2(i.two);ReSizeInit()" *ngIf="i['two']" data-toggle="modal" data-target=".bs-example-modal-lg">{{i['two']['Name']['dname']}} - {{i['two']['Name']['sname'] }}</td>
        <td *ngIf="i['two']">{{i['two']['data']}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- 模态框-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div echarts [options]="option" (chartInit)="ReSize($event)" style="width: 100%;height:600px;background-color: #21333f; text-align: center" ></div>
    </div>
  </div>
</div>
