<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="title">
        <span class="logo">彩铝</span>
        <a href="" class="admin" [routerLink]="['./main']">超级管理员</a>
        <i class="fa fa-navicon"></i>
      </div>
      <div class="user pull-right">
        <div class="user-remind">
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          <div class="user-remind-top">
            <span>5</span>
          </div>
          <div class="user-remind-circle"></div>
        </div>
        <div class="user-photo">
          <img class="rounded-circle" src="../../../assets/images/Nasta.png" alt="">
        </div>
      </div>
    </div>
  </div>
</nav>
