
.panel-body{
  background-color: rgba(55,96,108,0.3);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  color: white;
}
.panel-heading{
  background-color: rgba(55,96,108,0.5);
  box-shadow:0 1px 1px 0 rgba(0,0,0,0.5);
  border-radius: 5px 5px 0 0;
  color: white;
}
.timeInput input{
  color: black;
  width: 48px;
  height: 20px;
}
select{
  width: auto;
  margin-right: 5px;
  padding-top: 1px;
}
