<div>
  <div class="panel-heading">
    <span>{{title}}</span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th *ngFor="let th of tHead">{{th}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of tBody;let j = index">
          <td >{{j + 1}}</td>
          <td *ngFor="let p of prop">{{i[p]}}</td>
          <td *ngIf="btnGroup[0]==='打印入库二维码'">
            <button class="btn-success btn btn-xs" (click)="qrcodeRouteNT(j)">{{btnGroup[0]}}</button>
          </td>
          <td *ngIf="btnGroup[0]==='打印出库二维码'">
            <button class="btn-success btn btn-xs" (click)="qrcodeRouteN(j)">{{btnGroup[0]}}</button>
            <button (click)="zhuan(j)" class="btn-danger btn btn-xs" data-toggle="modal" data-target="#zhuandan">{{btnGroup[1]}}</button>
          </td>
          <td *ngIf="btnGroup[0]==='打印已出库二维码'">
            <button class="btn-success btn btn-xs" (click)="qrcodeRoute(j)">{{btnGroup[0]}}</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="burster">
        <button type="button" class="btn btn-primary" (click)="page.lastPage()">上一页</button>
        <button type="button" class="btn btn-primary" (click)="page.nextPage()">下一页</button>
        当前第{{page.getPageNo()}}页，共{{page.getTotalPage()}}页 ,跳到 <input #input (keyup.enter)="page.skipPage(input.value)" type="number" title=""> 页
      </div>
    </div>
  </div>

</div>
