
.panel-heading > .dropdown{
  margin-right: 10px;
}
.panel-heading > .dropdown > ul{
  background-color: rgba(33,51,63,1);
  text-align: center;
  cursor: pointer;
}
.panel-heading > .dropdown > ul >li:hover{
  background-color: #1F9B8F;
}
