/* You can add global styles to this file, and also import other style files */
body{
  /*background:url("assets/blur-bg.jpg") repeat center;
  background-position-x:50%;
  background-position-y:10%;*/
  width: 100%;
}
