/* You can add global styles to this file, and also import other style files */
.container-fluid{
  padding: 0 10px;
}
a, ul{
  cursor: pointer;
}

.container-fluid-2{
  overflow-y: auto;
}
.container-fluid-1::-webkit-scrollbar {/*滚动条整体样式*/
  width: 3px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 2px;
}
.container-fluid-1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.41);
  background: rgba(55,96,108,0.3);
}
.container-fluid-1::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(55,96,108,1);
  border-radius: 1px;
  background: rgba(55,96,108,0.3);
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.panel-heading{
  background-color: rgba(55,96,108,0.5);
  box-shadow:0 1px 1px 0 rgba(0,0,0,0.5);
  border-radius: 5px 5px 0 0;
  color: white;
}
.panel-heading > span{
  font-size: 16px;
}
.panel-body{
  background-color: rgba(55,96,108,0.3);
  box-shadow:0 2px 1px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  color: white;
}
.panel-heading > .dropdown{
  margin-right: 10px;
}
.panel-footer{
  background-color: rgba(55,96,108,0.3);
  box-shadow:2px 4px 2px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  border-top: none;
  color: white;
}
.burster{
  text-align: center;
}
select{
  height: 26px;
  padding: 1px 0 1px 0;
  width: 100%;
  color: black;
}
