<div style="padding-left: 0;">
  <app-header (sidebar)="SideBar()" ></app-header>
  <div style="margin-top: 66px;margin-bottom: 40px">
    <div  [@sidebarAnimate]="State"  style="position: relative;z-index: 900"><app-sidebar></app-sidebar></div>
    <div class="home" style="position: relative">
      <div  class="toast" [hidden]="true">
        {{ToastInformation}}
      </div>
      <app-position-bar></app-position-bar>
          <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>
