<div class="container-fluid">
  <div class="panel-heading">
    <span>温度数据图</span>
    <div class="pull-right">
      <select title="" class="btn btn-success" (click)="selectSystem(selectPs.value)" #selectPs>
        <option  *ngFor="let i of proSystem">{{i['sysName']}}</option>
      </select>
    </div>
  </div>
  <div class="panel-body">
    <div class="row ">
      <div *ngFor="let op of option;let i=index" data-toggle="modal" data-target="#map" class="col-lg-2 col-md-4 col-sm-6" (click)="modalValue(i)">
        <div echarts [options]="op" style="height: 300px"></div>
      </div>
    </div>
  </div>

</div>
<div class="modal fade bs-example-modal-lg" id="map" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content" style="background-color: #253847;">
      <div class="panel-heading">
        <span>温度图</span>
      </div>
      <div class="panel-body" >
        <div class="row" echarts [options]="options" style="height: 500px" (chartInit)="initOptions($event)">

        </div>
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#map">关闭</button>
      </div>
    </div>
  </div>
</div>
